nav.navbar.navbar-default {
	margin-bottom: 0;
	background: black;
}

nav.navbar {
	background-color: grey;
	margin: 25px;
	border-radius: 5px;
}

.navbar-brand {
	font-size: 32px;
	line-height: 32px;
	font-family: sans-serif;
}

img {
	max-width: 80px;
	height: auto;
	border-radius: 5px;
}

li {
  	text-decoration: none;
  	color: white;
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 40px;
	padding: 0 2em;
	background: grey;
	border-radius: 5px;
	margin: 10px;
}

li:hover {
	background: white;
  	color: black;
}

.navbar-nav {
	background:black;
	border: 10px solid black;
	display: inline-block;
	border-radius: 5px;
}

.nav-item:active {
	color:white;
}

#navTitle {
	color: white;
}