nav.navbar.navbar-default {
  margin-bottom: 0;
}

li {
  text-decoration: none;
  color: white;
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 40px;
	padding: 0 2em;
}

li:hover {
	background: rgba(255,255,255,.9);
  color: black;
}