nav.navbar.navbar-default {
	margin-bottom: 0;
	background: black;
}

.navbar-brand {
	font-size: 32px;
	line-height: 32px;
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

img {
	width: 10%;
}

li {
  	text-decoration: none;
  	color: white;
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 40px;
	padding: 0 2em;
	background: grey;
}

li:hover {
	background: rgba(0,0,0,.9);
  	color: white;
}

a {
	color: white;
}

/* .nav-link:hover {
	color:black;
} */

.navbar-nav {
	background:black;
	border: 10px solid black;
	display: inline-block;
}

.nav-:visited {
	color:red;
}

.nav-item:hover {
	background:white;
}

.nav-item:active {
	color:white;
}